body {
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    padding:20px;
}
.invite-card {
    max-width: 800px;
    background-color: aliceblue;
    margin: 50px auto;
    padding: 30px ;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(211, 95, 247, 0.1);
    text-align:center;
}
.banner {
    max-width: 40%;
    border-radius: 10px;
    margin-bottom: 20px;
}
h1 {
    color:rgb(216, 171, 88);
    margin-bottom: 10px;
}
h3 {
    color: bisque;
    margin-bottom: 20px;
    font-weight: normal;
}
p {
    font-size: 16px;
    margin:10px 0;
}
p strong {
    font-weight: bold;
    color: aliceblue;
}
footer {
    margin-top: 30px;
    font-size: 14px;
    border-top: 1px solid #dddddd73;
    padding-top: 15px;
    color: #555;
}
